<!-- index.html -->
{% extends "base.html" %}

{% block content %}
<!-- Your unique content for this page goes here -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="home">

    <div class="container">
      <div class="hero-content">
        <h1>I'm <span class="typed" data-typed-items="{{ my.name }}"></span></h1>
        <p>{{ my.description }}</p>

        <ul class="list-unstyled list-social">

          <li><a href="{{ links.facebook }}"><i class="bi bi-facebook"></i></a></li>
          <li><a href="{{ links.twitter }}"><i class="bi bi-twitter"></i></a></li>
          <li><a href="{{ links.instagram }}"><i class="bi bi-instagram"></i></a></li>
          <li><a href="{{ links.linkedin }}"><i class="bi bi-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-4 ">
            <div class="div-img-bg">
              <div class="about-img">
                <img src="{{ url_for('static', filename='assets/img/me.jpg') }}" class="img-responsive" alt="me">
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="about-descr">

              <p class="p-heading">I'm based in Biharsharif, India, specializing in accounting with Tally. I enjoy working with numbers & ensuring accurate financial records.</p>
              <p class="separator">To someone from Biharsharif, it might seem like simplified English. Indian languages, like Hindi, share common roots.</p>

            </div>

          </div>
        </div>
      </div>
    </div><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <div id="services">
      <div class="container">

        <div class="services-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-person"></i>
                <span>TEACHER</span>
                <p class="separator">A dedicated educator committed to nurturing minds, fostering learning, and inspiring growth in students. </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-camera-video"></i>
                <span>YOUTUBER</span>
                <p class="separator">A passionate content creator who engages audiences through captivating videos, sharing knowledge and entertainment. </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="services-block">
                <i class="bi bi-lightbulb"></i>
                <span>MOTIVATOR</span>
                <p class="separator">An inspiring figure who sparks creativity and positivity, igniting ideas and empowering others to achieve their goals. </p>
              </div>
            </div><!-- End testimonial item -->


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </div><!-- End Services Section -->

<!-- ======= Sayari for Mother Section ======= -->
<div id="sayari" class="paddsection">

  <div class="container">

    <div class="section-title text-center">
      <h2>Sayari for Mother</h2>
    </div>
  </div>

  <div class="container">
    <div class="row portfolio-container">
      {% for item in sayari %}
      <div class="col-lg-4 col-md-6 portfolio-item">
          <a href="https://www.youtube.com/watch?v={{ item.video_id }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{{ item.title }}"><img src="https://img.youtube.com/vi/{{ item.video_id }}/hqdefault.jpg" class="img-fluid" alt=""> </a>
        <div class="portfolio-info">
          <a href="https://www.youtube.com/watch?v={{ item.video_id }}" class="details-link" title="More Details"><p class="separator">{{ item.title }}</p></a>
        </div>
        <hr>
      </div>
      {% endfor %}
    </div>

  </div>

</div><!-- End Sayari for Mother Section -->


    <!-- ======= Journal Section ======= -->
    <div id="journal" class="text-left paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>Galary</h2>
        </div>
      </div>

      <div class="container">
        <div class="journal-block">
          <div class="row">

      {% for item in sayari %}
            <div class="col-lg-4 col-md-6">
              <div class="journal-info">

                <a href="https://img.youtube.com/vi/{{ item.video_id }}/hqdefault.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><img src="https://img.youtube.com/vi/{{ item.video_id }}/hqdefault.jpg" class="img-responsive" alt="img"></a>
                <div class="journal-txt">

                  <h4><a href="blog-single.html">SO LETS MAKE THE MOST IS BEAUTIFUL</a></h4>
                  <p class="separator">To an English person, it will seem like simplified English
                  </p>

                </div>

              </div>
            </div>
      {% endfor %}

          </div>
        </div>
      </div>

    </div><!-- End Journal Section -->

    <!-- ======= Contact Section ======= -->
    <div id="contact" class="paddsection">
      <div class="container">
        <div class="contact-block1">
          <div class="row">

            <div class="col-lg-6">
              <div class="contact-contact">

                <h2 class="mb-30">GET IN TOUCH</h2>

                <ul class="contact-details">
                  <li><span>{{ my.address }}</span></li>
                  <li><span>{{ my.city }}, {{my.country}}</span></li>
                  <li><span>{{ my.phone }}</span></li>
                  <li><span>{{ my.email }}</span></li>
                </ul>

              </div>
            </div>

            <div class="col-lg-6">
              <form action="/submit_form" method="post" role="form" class="php-email-form">
                <div class="row gy-3">

                  <div class="col-lg-6">
                    <div class="form-group contact-block1">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <textarea class="form-control" name="message" placeholder="Message" required></textarea>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>

                  <div class="mt-0">
                    <input type="submit" class="btn btn-defeault btn-send" value="Send message">
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}
